* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body[data-aos-duration='2500'] [data-aos],
[data-aos][data-aos][data-aos-duration='2500'] {
  transition-duration: 2500ms;
}

@mixin transition {
    transition: .3s ease;
}

.main_container {
    max-width: 1580px;
    padding: 0 20px;
    margin: 0 auto;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.main_title {
    color: #000;
    font-family: "TT Firs Neue",sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 50px;
}

.main_btn_white {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    width: 244px;
    height: 41px;
    border: 1px solid white;
    color: #FFF;
    font-family: "TT Firs Neue",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include transition();

    svg {
        path {
            @include transition();
        }
    }

    &:hover {
        background-color: white;
        color: #000;

        svg {
            path {
                fill: #000;
            }
        }
    }
}

.main_btn_black {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 190px;
    height: 41px;
    border: 1px solid transparent;
    background-color: #000;
    color: #FFF;
    font-family: "TT Firs Neue",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include transition();

    svg {
        path {
            @include transition();
        }
    }

    &:hover {
        background-color: transparent;
        color: #000;
        border: 1px solid #000;

        svg {
            path {
                fill: #000;
            }
        }
    }
}


.no-scroll-y {
	overflow-y: hidden;
}

/* Preloader */
.ctn-preloader {
	align-items: center;
  cursor: none;
	display: flex;
  height: 100%;
  justify-content: center;
	position: fixed;
	left: 0;
  top: 0;
	width: 100%;
  z-index: 900;
}

.ctn-preloader .animation-preloader {
	position: absolute;
  z-index: 100;
}

/* Spinner cargando */
.ctn-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
	border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000000; /* No se identa por orden alfabetico para que no lo sobre-escriba */
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}

/* Texto cargando */
.ctn-preloader .animation-preloader .txt-loading {
  font: bold 5em 'Montserrat', sans-serif;
	text-align: center;
	user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  animation: letters-loading 4s infinite;
  color: #000000;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
	color: rgba(0, 0, 0, 0.2);
	position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
  animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
  animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  animation-delay: 0.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  animation-delay: 0.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  animation-delay: 1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
  animation-delay: 1.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before {
  animation-delay: 1.4s;
}

.ctn-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
	position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}

/* Efecto de fade en la animación de cargando */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

/* Efecto de cortina */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

/* Animación del preloader */
@keyframes spinner {
	to {
		transform: rotateZ(360deg);
	}
}

/* Animación de las letras cargando del preloader */
@keyframes letters-loading {
  0%,
  75%,
  100% {
  	opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

/* Tamaño de portatil hacia atras (portatil, tablet, celular) */
@media screen and (max-width: 767px) {
	/* Preloader */
	/* Spinner cargando */	
	.ctn-preloader .animation-preloader .spinner {
		height: 5em;
		width: 5em;
	}

    .ctn-preloader .animation-preloader .txt-loading .letters-loading {
        font-size: 30px;
    }

	/* Texto cargando */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 3.5em 'Montserrat', sans-serif;
	}
}

@media screen and (max-width: 500px) {
	/* Prelaoder */
	/* Spinner cargando */
	.ctn-preloader .animation-preloader .spinner {
		height: 7em;
		width: 7em;
	}

	/* Texto cargando */
	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 2em 'Montserrat', sans-serif;
	}
}

.media_menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 4;
    @include transition();
    background-color: #fff;
    .nav_link {
        margin-top: 150px;
    }
    .nav_item {
        margin-bottom: 20px;
        a {
            color: #000;
            font-family: "TT Firs Neue",sans-serif;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @include transition();

            &:hover {
                opacity: .7;
            }
        }
    }
}

.media_menu.active {
    left: 0;
}

// home_section
.home_section {
    position: relative;
    height: 100vh;
    background-image: url('../images/home.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .home_section_bg {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 63px 0;
    z-index: 5;
    @include transition();

    .main_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header_left {
        display: flex;
        align-items: center;
        gap: 89px;
    }

    .nav_link {
        display: flex;
        align-items: center;
        gap: 40px;

        a {
            color: #FFF;
            font-family: "TT Firs Neue",sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @include transition();

            &:hover {
                opacity: .7;
            }
        }
    }

    .header_right {
        display: flex;
        align-items: center;
        gap: 36px;

        a {
            color: #FFF;
            font-family: "TT Firs Neue",sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @include transition();

            &:hover {
                opacity: .7;
            }
        }
    }
}

header.sticky {
    padding: 10px 0;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

header.active {
    background-color: rgba(0, 0, 0, 0.9);
}

.home {
    position: relative;
    z-index: 2;
    text-align: center;

    .main_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        color: #FFF;
        font-family: "Playfair Display",sans-serif;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    
    h6 {
        color: #FFF;
        font-family: "TT Firs Neue",sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 26px;
    }
}

.home_down {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: 1s down infinite linear;
}

@keyframes down {
    0% {
        transform: translateY(0%); 
    }
    25% {
        transform: translateY(-15%)
    } 
    75% {
        transform: translateY(-25%)
    }
    100% {
        transform: translateY(0%)
    }
}
// home_section

// live_time
.live_time {
    padding: 200px 0;

    .live_time_in {
        display: flex;
        align-items: center;
        gap: 150px;
        
        .live_time_left {
            img {
                max-width: 630px;
            }
        }

        .live_time_right {
            .live_time_right_in {
                max-width: 630px;
            }

            p {
                color: #000;
                font-family: "TT Firs Neue",sans-serif;
                font-size: 25px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .live_time_text {
                margin-bottom: 45px;
            }

            .live_time_btns {
                margin-top: 50px;
                display: flex;
                justify-content: start;
                gap: 26px;

                .main_btn_white {
                    margin: 0;
                    color: #000;
                    border: 1px solid #000;

                    &:hover {
                        color: #fff;
                        background-color: #000;
                        border: transparent;

                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.live_three {
    padding: 0 0 200px 0;
}

.live_time {
    .live_time_three {
        flex-direction: row-reverse;
        justify-content: start;
    
        .live_time_right {
            // .live_time_right_in {
            //     max-width: 100%;
            //     width: 100%;
            // }
        }
    }
}
// live_time

// contact
.contact {
    
    .contact_wrapper { 
        padding: 150px 0 115px 0;
        position: relative;
        max-width: 1920px;
        margin: 0 auto;

    }

    .contact_img {
        position: absolute;
        right: 0;
        top: -250px;
    }
    .contact_form {
        display: flex;
        flex-direction: column;

        .main_title {
            max-width: 374px;
            margin-bottom: 50px;
        }

        .contact_input {
            margin-bottom: 25px;
            max-width: 339px;
            border: none;
            border-bottom: 1px solid #181D24;
            color: var(--, #4F4F4F);
            font-family: "TT Firs Neue",sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 104%;
            text-transform: uppercase;
            padding-bottom: 22px;

            &:focus {
                outline: none;
            }
        }

        .contact_checkbox {
            user-select: none;
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 25px;
            margin-bottom: 30px;

            input[type="checkbox"] {
                width: 20px;
                height: 20px;
                background: black;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border: none;
                outline: none;
                position: relative;
                left: 0px;
                top: 0px;
                cursor: pointer;
                border-radius: 5px;
            }

            input[type='checkbox']:checked:before{
                content:'\2713'; 
                background:black; 
                width:100%; 
                height:100%; 
                top:0;
                left:0;
                border-radius: 5px;
                display:flex; 
                align-items:center; 
                justify-content:center; 
                color:white; 
                font-weight:bold; 
            }

            label {
                cursor: pointer;
                color: var(---, #181D24);
                font-family: "TT Firs Neue",sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 300;
                line-height: 110%;
                text-transform: capitalize;

                a {
                    text-decoration-line: underline;
                    text-transform: lowercase;
                }
            }
        }
    }
}
// contact

// location
.location {
    margin-bottom: 200px;
    .location_img {
        position: relative;

        .location_text {
            max-width: 730px;
            position: absolute;
            top: -21%;
            right: 79px;
            padding: 50px;
            background-color: #fff;

            p {
                color: #000;
                font-family: "TT Firs Neue",sans-serif;
                font-size: 25px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}
// location

// footer
footer {
    .footer_top {
        padding: 50px 0;
        background-image: url('../images/footer_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #1B1B1A;
    }

    .footer_bottom {
        background-color: #1C1D1BFF;

        .main_container {
            justify-content: start;
            padding-left: 132px;
        }

        p {
            padding: 16px 0;
            color: #6F6D66;
            font-family: "TT Firs Neue",sans-serif;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 14px */
        }
    }

    .main_container {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 155px;
    }

    .footer_form {
        max-width: 370px;
        padding: 24px;
        border-radius: 12px;
        background: #282826;
        background-image: url('../images/footer_form_bg.png');
        background-repeat: no-repeat;
        margin-bottom: 56px;

        h6 {
            color: #CFCDBE;
            font-family: "TT Firs Neue",sans-serif;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: -0.28px;
            margin-bottom: 308px;
        }

        form {
            width: 100%;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #4C4B47;

            input {
                width: 100%;
                background-color: transparent;
                outline: none;
                border: none;
                padding-bottom: 8px;
                color: #6F6D66;
                font-family: "TT Firs Neue",sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 19.6px */
            }
        }
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 8px;

        .social_media {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    .footer_top_right {
        h6 {
            color: #6F6D66;
            font-family: "TT Firs Neue",sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 22.4px */
            letter-spacing: 0.64px;
            text-transform: uppercase;
            margin-bottom: 25px;
        }

        .footer_top_right_in {
            border-top: 1px solid #403F3C;
            border-bottom: 1px solid #403F3C;
            display: flex;
            gap: 150px;

            ul {
                margin-top: 25px;
                margin-bottom: 50px;
                display: flex;
                flex-direction: column;
                gap: 8px;

                li {
                    a {
                        color: #B2B1AA;
                        font-family: "TT Firs Neue",sans-serif;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        letter-spacing: -0.2px;
                    }
                }
            }

            button {
                width: 234px;
            }

            .main_btn_black {
                border: 1px solid #fff;
                background-color: transparent;
                margin-bottom: 25px;

                &:hover {
                    background-color: #fff;
                }
            }

            .main_btn_white {
                background-color: #fff;
                color: #000;

                &:hover {
                    background-color: transparent;
                    border: 1px solid #fff;
                    color: #fff;

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }

            .footer_top_in_right {
                img {
                    height: 100%;
                }
            }
        }
        
    }

    .footer_top_right_two {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;

        .footer_top_right_two_left {
            margin-top: 10px;
        }

        .footer_top_right_two_right {
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            align-items: end;

            h5 {
                color: #FFF;
                font-family: "Playfair Display",sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
                margin-bottom: 5px;
            }

            span {
                text-align: right;
                color: #FFF;
                font-family: "TT Firs Neue",sans-serif;
                font-size: 10px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                text-transform: uppercase;
            }
        }

        .footer_top_right_two_blocks {
            display: flex;
            gap: 47px;
        }

        .footer_top_right_two_block {
            display: flex;
            flex-direction: column;
        }

        span {
            color: #6F6D66;
            font-family: Inter ,sans-serif;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 14px */
            letter-spacing: 0.4px;
            text-transform: uppercase;
            margin-bottom: 8px;
        }
        a ,
        p{
            color: #B2B1AA;
            font-family: Inter,sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
        }
    }
}
// footer









@import 'responsive';